<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9WPBC7HFC8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9WPBC7HFC8');
</script>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<title>Itslinked contact page</title>
    <link rel="icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787981391552334254&th=18d02f9a3c7c49ae&view=fimg&realattid=ii_lrc3enp12&disp=thd&attbid=ANGjdJ-M3yLvC-u02PkjQcZo-Yj5HRlHy_KXB_YaGpCmsmzVUw-R8Mqr54bHIIGiyAAOs7iOUd8KTaGPFgefttgu2yuoype-CG8cp8_HEu3XbBUksy2QoU8gQGycMBk&ats=2524608000000&sz=w1920-h878" type="image/x-icon">
    <link rel="shortcut icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787981391552334254&th=18d02f9a3c7c49ae&view=fimg&realattid=ii_lrc3enp12&disp=thd&attbid=ANGjdJ-M3yLvC-u02PkjQcZo-Yj5HRlHy_KXB_YaGpCmsmzVUw-R8Mqr54bHIIGiyAAOs7iOUd8KTaGPFgefttgu2yuoype-CG8cp8_HEu3XbBUksy2QoU8gQGycMBk&ats=2524608000000&sz=w1920-h878" type="image/x-icon">
    <style>
        
        .page-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .page-title {
            font-size: 32px;
            color: #007BFF;
            margin-bottom: 20px;
        }

        .page-content {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <h1 class="page-title"> ItsLinked Contact Us</h1>
    <link rel="icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787274407883098072&th=18cdac9ac604c7d8&view=fimg&realattid=18cdac948a58bc28df21&disp=thd&attbid=ANGjdJ85oGY_iZdfcZ9_5BLtn374ru_oBAueTZ2KhG6yRq2A1Dxo5kq1JVvIHQ8ZRpk3Q_nazoXr1MIqMm5nFHgH1rNN62WU30Q74e9G700gQI1mtwPIC441zP4LwF8&ats=2524608000000&sz=w1920-h878" type="image/x-icon">


        <p class="page-content">We would love to hear from you! If you have any questions, suggestions, or feedback, please feel free to reach out to us using the contact details below:</p>

        <h2 class="page-title">Contact Information</h2>

        <p class="page-content"><strong>Email:</strong>k.neccted@gmail.com</p>
        
    </div>
</body>
</html>
