<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itslinked login page</title>
    <link rel="icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787274407883098072&th=18cdac9ac604c7d8&view=fimg&realattid=18cdac948a58bc28df21&disp=thd&attbid=ANGjdJ85oGY_iZdfcZ9_5BLtn374ru_oBAueTZ2KhG6yRq2A1Dxo5kq1JVvIHQ8ZRpk3Q_nazoXr1MIqMm5nFHgH1rNN62WU30Q74e9G700gQI1mtwPIC441zP4LwF8&ats=2524608000000&sz=w1920-h878" type="image/x-icon">

    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="outer">
        <div class="inner">
            <h2>Login</h2>

            <form action="/login" method="post">
                <div class="log">
                    <input type="text" placeholder="Email address" name="email" required>
                </div>

                <div class="log">
                    <input type="password" placeholder="Password" name="password" required>
                </div>

                <input type="submit" class="btn" value="Login">
            </form>
        </div>

        <div class="for">
            <a href="forgotpassword">Forgot Password?</a>
        </div>
        <div class="newuser">
            <a href="sign">New User?</a>
        </div>
    </div>
</body>
</html>
