<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9WPBC7HFC8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9WPBC7HFC8');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Itslinked signup page</title>
        <link rel="icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787981391552334254&th=18d02f9a3c7c49ae&view=fimg&realattid=ii_lrc3enp12&disp=thd&attbid=ANGjdJ-M3yLvC-u02PkjQcZo-Yj5HRlHy_KXB_YaGpCmsmzVUw-R8Mqr54bHIIGiyAAOs7iOUd8KTaGPFgefttgu2yuoype-CG8cp8_HEu3XbBUksy2QoU8gQGycMBk&ats=2524608000000&sz=w1920-h878" type="image/x-icon">
    <link rel="shortcut icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787981391552334254&th=18d02f9a3c7c49ae&view=fimg&realattid=ii_lrc3enp12&disp=thd&attbid=ANGjdJ-M3yLvC-u02PkjQcZo-Yj5HRlHy_KXB_YaGpCmsmzVUw-R8Mqr54bHIIGiyAAOs7iOUd8KTaGPFgefttgu2yuoype-CG8cp8_HEu3XbBUksy2QoU8gQGycMBk&ats=2524608000000&sz=w1920-h878" type="image/x-icon">
<link rel="stylesheet" href="./sign.css">
</head>
<body>
    <div class="outer">
        <div class="inner">
            <h2>Sign Up</h2>

            <form action="/sign" method="post">
                <div class="log">
                    <input type="text" placeholder="Full name" name="username" required>
                </div>

                <div class="log">
                    <input type="text" placeholder="Email address" name="email" required>
                </div>

                <div class="log">
                    <input type="password" placeholder="Password" name="password" required>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="signupCheck" name="terms" required>
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>

                <input type="submit" class="btn" value="Sign Up">
            </form>
        </div>

        <div class="for">
            <a href="forgotpassword">Forgot Password?</a>
        </div>
        <div class="alreadyuser">
            <a href="login">Already a User?</a>
        </div>
    </div>
<script type="text/javascript">
    aclib.runAutoTag({
        zoneId: 'tc8cjz8phd',
    });
</script>


</body>
</html>
