<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="./sign.css">
</head>
<body>
    <div class="outer">
        <div class="inner">
            <h2>Sign Up</h2>

            <form action="/sign" method="post">
                <div class="log">
                    <input type="text" placeholder="Full name" name="username" required>
                </div>

                <div class="log">
                    <input type="text" placeholder="Email address" name="email" required>
                </div>

                <div class="log">
                    <input type="password" placeholder="Password" name="password" required>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="signupCheck" name="terms" required>
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>

                <input type="submit" class="btn" value="Sign Up">
            </form>
        </div>

        <div class="for">
            <a href="forgotpassword">Forgot Password?</a>
        </div>
        <div class="alreadyuser">
            <a href="login">Already a User?</a>
        </div>
    </div>
</body>
</html>
